{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailtrans_tags %}



{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}


<h1>{{ page.title }}</h1>
{{ page.body|richtext }}

{% get_translations page homepage_fallback=False include_self=False as translations %}

{% for language, page in translations.items %}
<ul style="list-style-type: none;  padding: 0;
margin: 0;">
    <li style="display: inline;"
    ><a href="{{ page.full_url }}" style="display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe">
        <span>{{ language.code }}</span>
    </a></li>
</ul>
{% endfor %}

{% endblock content %}
